<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
    <script defer src="./main.js"></script>

    <title>Acerca de Nosotros</title>
</head>

<body>
    <header class="container-fluid">

        <div>
            <img src="./images css/Logo_Empresa.jpeg" alt=" logo de la Empresa.">

        </div>

        <nav>
            <ul>
               
                <a href="./inicio.html"><li class="opciones"> Inicio </li></a>
                <a href="./register.html"><li > Registrarse </li></a> <!-- etiqueta a es para un link, la etiqueta li es para un listado. -->
                <a href="./inicio.html"><li class="opciones"> ingresar </li></a>
                <a href="./Acerca_de_nosotros.html"><li > Acerca de nosotros </li></a>
        
            </ul>

        </nav>

    </header>


    <!-- texto comentado -->


    <div class="contenido">
        <h1> Acerca De Nosotros. </h1>
        <p class=" h2texto text-white"> Somos una plataforma digital simple y práctica que permite a los usuarios elegir su plato o productos favoritos dentro de miles de opciones disponibles.</p>
        <p id="contenidos" class="text-white">    
            ¡Bienvenido a fastery!
            ¡del restaurante a tu casita, sin la esperita!
        </p>
    
    
    </div>

</div>
   

    <div id="nosotros" class="nosotross">

        <iframe width="640" height="365" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3164.293983081504!2d126.96162817432601!3d37.524566726536136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca1f9003618ab%3A0xdbe7a50bb6eca42!2sYongsan%20Trade%20Center%20Co.%2C%20Ltd.!5e0!3m2!1ses-419!2shn!4v1716253210452!5m2!1ses-419!2shn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <iframe width="640" height="360" src="https://www.youtube.com/embed/qKw2EK54hxg" title="best restaurant logos" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

    <footer>

        <p> Todos los derechos reservados.  </p>

    </footer>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>